.profile-head {
	width: 100%;
	float: left;
	position: relative;
}

.profile-head img {
	margin: 0 auto;
	border-radius: 5px;
  height: 240px;
  width: 240px;
}

.profile-head h5 {
		width: 100%;
		padding: 5px 5px 5px 5px;
		font-weight: bold;
		font-size: 25px;
		margin-bottom: 0;
}

.profile-head p {
		width: 100%;
		padding: 5px 5px 5px 5px;
		font-size: 17px;
		margin: 0;
}

.profile-head ul {
		list-style: none;
		padding: 0;
}

.profile-head ul li {
		display: block;
		padding: 5px;
		font-weight: 400;
		font-size: 15px;
}
